*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.vh-100{
    height: 100vh;
}
.d-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.circle{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 50%;
}
.flex-direction{
    flex-direction: column;
}
.justify-content-around{
    justify-content: space-around;
}
.button{
    padding: 15px;
    border-radius: 15px;
    background-color: aqua;
    font-size: 25px;
}
.button:hover{
    background-color: aquamarine;
}
.circle.on{
    background-color: yellow;
    box-shadow: 0 0 40px 25px yellow;
    border-color: black;
}
